/* css初始化 */
* { margin:0;    /*清除内外边距*/
    padding:0;
    box-sizing:border-box;	/*padding和border不会撑大盒子，前提是二者大小都不超过width*/}
    
    em,i {font-style: normal;}      /*em、i不倾斜*/
    
    li {list-style: none;}  /*去除li圆点*/
    
    img {border: 0;         
            vertical-align: middle;}   /*取消图片地侧空白缝隙*/
    
    button {cursor: pointer;}  /*经过button按钮鼠标变小手*/
    
    a {text-decoration: none;
        color: black;}      /*取消链接下划线*/
    
    body {-webkit-font-smoothing:antialiased;       /*css3 抗锯齿，文字更清晰*/
            font-size: 16px;
            font-family: "微软雅黑";
            background-color: rgb(245, 245, 245) ;}
    
    .clearfiz::after {visibility: hidden;   /*清除浮动*/
            clear: both;
            display: block;
            content: ".";
            height: 0;}

    /* 字体图标 */
    @font-face {
        font-family: 'icomoon';
        src:  url('../fonts/icomoon.eot?cfimbq');
        src:  url('../fonts/icomoon.eot?cfimbq#iefix') format('embedded-opentype'),
            url('../fonts/icomoon.ttf?cfimbq') format('truetype'),
            url('../fonts/icomoon.woff?cfimbq') format('woff'),
            url('../fonts/icomoon.svg?cfimbq#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
        }
        /* 字体图标 */
/* css初始化 */


/* header */
header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    background-color: rgb(245, 245, 245);
}

nav {
    width: 35%;
}

#logo a img {
    width: 35px;
    height: 35px;
}

nav .one-list,
#right {
    display: flex;
    justify-content: space-around;
}

nav ul li a, 
#right a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    position: relative;
	transition:all .2s ease;
}

#right a{
    width: 3em;
	color:#515a63;
}
nav ul li a:hover{
    border-bottom:black solid 2px;
	border-radius:2px;
}
#right span {
    height: 50px;
	line-height:50px;
	color:#515a63;
}
#right a {
    font-weight: 900;
}
#sousuo{
    width: 100%;
    background-image: url(../images/DSC04594.jpg);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search {
    width: 700px;
    height: 54px;
    border-radius: 20px;
    border: transparent;
    display: flex;
    align-items: center;
    padding: 0 8px 0 8px;
    transition: border 0.5s;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    justify-content: flex-end
}

input[type="text"] {
    width:700px;
    border: 54px;
    background-color: transparent;
    outline: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    
}

button {
    border: 0;
    font-family: 'icomoon';
    font-size: 18px;
}

.search-detail{
    position: absolute;
    width: 700px;
    height: 200px;
    opacity: 0;
    background-color: rgba(255, 255, 255,.9);
    top: 60%;
    border-radius: 20px;
    transition: opacity .5s ease;
}

.menu {
    width: 100%;
    position: absolute;
    left: 0;
    background-color: transparent;
    z-index: 999;
    opacity: 1;
    transition: all .5s ease;
    overflow: hidden;
    height: 0;
}

.menu-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    background-color: #fff;

}
.menu-content .menu-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.menu-content .menu-ul li ul{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.menu-content .menu-ul li ul li{
    height: 50px;
    line-height: 50px;
}
.menu-content a{
    width: 100px;
}
.mask{
    width: 100%;
    height: 60%;
    backdrop-filter: blur(2px);
}
.menu-main a{
    font-size: 20px;
    font-weight: bold;
}

/* 公告 */
#notice {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    position: relative;
}

#notice a {
    color: #06CC;
}
/* 公告 */


/* 大分类 */
#fenlei {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 50px;
}

#fenlei .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5% 0 5%;
}

h2 {
    font-size: 28px;
    height: 100px;
    line-height: 100px;
    color: #1d1d1f;
}

.doubt span {
    display: block;
    padding: 10px 0;
}

.doubt span a{
    font-size: 14px;
    position: relative;

}

.doubt span a:nth-child(1)::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    left: -2em;
    top: 15%;
    font-size: 25px;
    font-family: 'icomoon';
    text-align: center;
}

.doubt span:nth-child(2) a:nth-child(1)::before {
    content: "";
}

.doubt span a:last-child {
    color: #06CC;
}

.bottom {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2%;
    padding: 0 5% 1% 5%;
}

.bottom a {
    display: flex;
    flex-flow: column nowrap;
    transition: transform 0.5s;
}

.bottom a:hover {
    transform: scale(1.1, 1.1);
}



.bottom a img {
    display: block;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: all 0.5s ease;
}

.bottom a p {
    display: block;
    padding-top: 20px;
    text-align: center;
}
/* 大分类 */

/* 黑白摄影 */
#box1 {
    width: 100%;
    padding: 0 5% 0 5%;
    display: flex;
    flex-flow: column nowrap;
}

#box1 .photo {
    width: 100%;
    height: 540px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

h3 {
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}


#box1 .photo a {
    display: block;
    width: 23%;
    height: 500px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
    border-radius: 30px;
}

#box1 .photo a:hover img {
    transform: scale(1.2, 1.2);
}
#box1 .photo a:hover{
    transform: scale(1.02, 1.02);
}
#box1 .photo a img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 2px 5px 5px #c9c9c9;
    transition: all .5s ease;
}

#box1 .photo a span {
    display: block;
    position: absolute;
    bottom: 0;
    padding: 0 0 60px 30px;
}

.font_white {
    color: #fff;
}

b {
    font-size: 18px;
    font-weight: 400;
}

#box1 .photo2 {
    height: 400px;
}

#box1 .photo2 a {
    width: 30%;
    height: 400px;
}

#box1 .photo2 a img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#box1 .photo3 {
    justify-content: left;
    gap: 5%;
}

#box1 .photo3 div {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#box1 .photo3 div a {
    width: 100%;
    height: 180px;
}

#box1 .photo3 div a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 黑白摄影 */

/* 页尾 */
.footer {
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(25px);
    position: relative;
}

.detail {
    bottom :0;
    width: 100%;
    background-color: black;
    height: 400px;
    padding: 20px;
}
.detail .about {
    color: white;
    width: 60%;
    position: relative;
    width: 100%;
}
.detail .about h1{
   margin: 0;
   font-size: 24px;
   margin-top: 20px;
}
.detail .about .about-left{
    position: absolute;
    left: 20%;
 }
 .detail .about .about-right{
    position: absolute;
    right: 20%;
    top:0;
 }
 .detail .about .about-right ul{
    list-style: none;
    margin: 0;
    padding: 0;
 }
 .detail .about .about-right ul li{
    display:inline-block;
    width: 120px;
    height: 200px;
    margin: 10px;
    text-align: center;
 }
 .detail .about .about-right ul li p{
    font-size: 20px;
    font-weight: bold;
 }
 .detail .about .about-right ul li a{
    display:block;
    width: 100px;
    height: 20px;
    margin: 10px;
    text-align: center;
    color: #666666;
    text-decoration: none;
 }
 .detail .copyright {
    position: absolute;
    bottom: 10px;
    color: #666666;
    font-size: 12px;
    margin: 0 auto;
    left: 35%;
    transform: translateX(-45%);
 }

 .about-left p,
 .copyright p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
 }
 /* 页尾 */
 .search-suggestions {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    align-content: flex-start;
}